.container {
  padding: 0 5vw;
  color: papayawhip;
}

.main {
  min-height: 100vh;
  padding-bottom: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main h1 {
  font-size: 3rem;
  text-shadow: 0 0.1rem palevioletred, 0 0.2rem peru, 0 0.3rem plum;
}

.main h2 {
  font-size: 1.5rem;
  font-weight: normal;
  color: aquamarine;
}

.canvas {
  position: relative;
  border: 2px solid gray;
  width: 90vmin;
  height: 90vmin;
  cursor: grab;
  user-select: none;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.canvas.ready {
  touch-action: none;
}

.canvas.active {
  cursor: grabbing;
}

.readyButton {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

.playIcon {
  color: white;
  font-size: 4rem;
  opacity: 0.5;
  transition: opacity 200ms ease-out;
}

.readyButton:hover .playIcon {
  opacity: 0.75;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
}

.mode {
  font-size: 2rem;
  color: gray;
}

.basePairs {
  display: block;
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 1.35vmin;
}

.basePair {
  position: absolute;
  text-align: center;
  min-width: 0;
  min-height: 0;
  transition-property: background-color;
  transition-timing-function: linear;
}

.basePair.playing {
  font-weight: bold;
  transition-duration: 0s !important;
}

.canvas canvas {
  width: 100%;
  height: 100%;
}
